.wrapLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #cfd9df, #9cd3f1);
}

.container {
  width: 550px;
  height: 100vh;
  border-radius: 10%;
}
